<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OZGradientView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDAF8A1219C15BAC00BF82CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDAF8A2719C15BAC00BF82CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDAF8A3C19C15FBF00BF82CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDAF8A4619C15FBF00BF82CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
